@import "../../style/vars.scss";

.main-container {
    height: 100vh;
    margin: 0 10%;
    & :not(:last-child) {
        margin-bottom: 50px;
    }
}

.app- {
    &content {
        width: 100%;
    }
    &title {
        font-family: "Assistant", sans-serif;
        font-size: 4rem;
        color: $theme;
    }
    &input {
        width: 100%;
        padding: 10px;
        background-color: inherit;
        border: 3px solid $theme;
        border-radius: 15px;
        font-size: 1.2rem;
        &-container {
            position: relative;
            width: 50%;
            margin-bottom: 0 !important;
        }
        &-btn {
            position: absolute;
            right: 10px;
            color: $theme;
            font-size: 1.5rem;
            top: 10px;
            cursor: pointer;
        }
    }
    &item {
        width: 250px;
        height: 250px;
    }
}

.selected {
    color: $theme;
    box-shadow: 0px 4px 8px rgba(30, 144, 255, 0.2);
}

.item-img {
    margin: 0 auto;
    font-size: 5rem;
    margin-bottom: 0 !important;
}

.item-title {
    font-size: 1.5rem;
    text-align: center;
}

.item-selected-content {
    font-size: 1.2rem;
    text-align: center;
}
